td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
input {
    width: 178px;
    height: 40px;
    margin-left: 2px;
}
